# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log
*.json

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
secrets.toml

# Other
*.pyc
